#bumenbiao{
			position: relative;
			width:80%;
		}
	
		table {
			position: relative;
			left: 40%;
			border: solid 0 #99CCFF;
			border-collapse: collapse;
			font-size: 120%;
			text-align: center;
			line-height: 1.1;
			width:100%;
			left: 0%;
			top: 10px;
			background-color:whitesmoke ;
		}
		    td{
	         	text-align: center;
	         	padding-left: 15px;
	         	margin:2px;
	         	border:0 solid black;
	         }
	         th{
	         	text-align: center;
	         	border:0 solid black;
	         }
	         th,td{padding: .3em;}
	         tr:nth-of-type(odd){
	         	background: white;
	         }
	         tr:nth-of-type(even){
	         	background: #eee;
	         }   
	         .bianji{
	         	width:10%;
	         }
             .anniu{
                 position: relative;
                 text-align: center;
                 top:-80px;
             }
		#menu1 {
			position:relative;
			list-style: none;
			padding: 12px;
			margin: 0px;
			background:white;
			display: inline-block;
			height:30px;
			overflow: hidden;
			border-radius: 5px;
			top: 100px;
		}
		
		#menu1 li {
		    text-align: center;
			display: inline-block;
			position: relative;
			bottom: 10px;
		}
		
		#menu1 li:first-child {
			margin: 0
		}
		/* The real fun begins here :D */

		/*
		#menu1 li a {
			background: whitesmoke;
			display: block;
			border-radius: 3px;
			padding: 0 12px;
			color: cornflowerblue;
			position: relative;
			text-decoration: none;
			height: 27px;
			font: 12px / 27px "PT Sans", Arial, sans-serif;
			transition: all 0.3s ease; // Now the 3d effect
		}
		
		#menu1 li a:hover {
			background: grey;
			color: blue;
		}
		
		#menu1 li a:active {
			background: #bae0ea;
			bottom: -3px;
		}
		*/
		.button8{
			position: relative;
			top:30px;
		}
		.largebuttonred,.largebuttonred:visited {
	background: #222 repeat-x;
	display: inline-block;
	zoom:1;
	margin:0 2px;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 3px solid rgba(0, 0, 0, 0.25);
	position: relative;
	cursor: pointer;
	border-radius: 5px;
}

.button:hover {
	background-color: #111;
	color: #fff;
}

.button:active {
	top: 3px;
}
.button,.button:visited,.medium.button,.medium.button:visited {
	font-size: 0.8em;
	line-height: 1;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

.pink.button,.magenta.button:visited {
	background-color: pink;
}

.pink.button:hover {
	background-color:hotpink;
}

.green.button,.green.button:visited {
	background-color: lawngreen;
}

.green.button:hover {
	background-color: #749a02;
}

.red.button,.red.button:visited {
	background-color: red;
}

.red.button:hover {
	background-color: #cf2525;
}

.orange.button,.orange.button:visited {
	background-color: #ff5c00;
}

.orange.button:hover {
	background-color: #d45500;
}

.blue.button,.blue.button:visited {
	background-color: #2981e4;
}

.blue.button:hover {
	background-color: #2575cf;
}

.yellow.button,.yellow.button:visited {
	background-color: #ffb515;
}

.yellow.button:hover {
	background-color: #fc9200;
}